@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-body: "Inter", sans-serif;
  --color-primary: #F59D0E;
  --color-secondary: #2F72E2;
  --color-danger: #EF494F;
  --color-black: #1A1A1A;
  --color-gray-50: #F9FAFB;
  --color-gray-100: #E1E1E1;
  --color-gray-200: #C0C0C0;
  --color-gray-300: #9DA4B2;
  --color-gray-400: #8C93A1;
  --color-gray-500: #677289;

  --animate-fade: fade 200ms ease;
  --animate-drag: drag 800ms ease-out alternate infinite;

  @keyframes fade {
    from { opacity: 0; transform: translateY(0.5rem);}
    to { opacity: 1; transform: none;}
  }
  @keyframes drag {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}

body {
  font: normal 100%/1.5 var(--font-body);
  color: var(--color-black);
  background-color: var(--color-gray-);
}
